<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Data</title>
</head>
<body>
    <h1>Database</h1>
    <h2>Usuários:</h2>
    <ul>
        {{#users}}
            <li>
                {{id}} 
                - {{name}} 
                - {{age}} anos 
                - <a href="/user/{{id}}/sum"><button>➕</button></a> 
                - <a href="/user/{{id}}/less"><button>➖</button></a>
                - <a href="/user/{{id}}/delete"><button>🗑️</button></a>
            </li>
        {{/users}}
    </ul>
</body>
</html>