{{>partials/header}}

    {{! conditionals }}
    {{#showWelcome}}
        <p>Opa {{ user.name }}{{#showOld}}, você já tem {{ user.age }} anos?{{/showOld}}</p>
    {{/showWelcome}}

    <p>Como vai a vida</p>

    <hr />

    <h2>Produtos</h2>

    {{!  loop}}
    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>

    <hr />

    {{! loop in a simple list }}
    <ul>
        {{#sentences}}
            <li>{{.}}</li>
        {{/sentences}}
        {{^sentences}} {{! if the list is empty}}
            Não há frases hoje.
        {{/sentences}}
    </ul>


{{>partials/footer}}