<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Data</title>
</head>
<body>
    <h1>Database</h1>
    <h2>Novo usuário</h2>
    <form method="POST" action="/newUser">
        <fieldset>
            <legend>Fazer cadastro</legend>
            <input type="text" name="name" placeholder="Digite seu nome" /><br />
            <input type="number" name="age" placeholder="Digite sua idade" /><br />
            <input type="submit" value="Enviar" />
        </fieldset>
    </form>

    <h2>Atualizar usuário</h2>
    <form method="POST" action="/updateUser">
        <fieldset>
            <legend>Atualizar cadastro</legend>
            <input type="text" name="name" placeholder="Digite seu nome" /><br />
            <input type="number" name="age" placeholder="Digite sua idade" /><br />
            <input type="number" name="id" placeholder="Digite o id do usuário a ser atualizado" /><br />
            <input type="submit" value="Enviar" />
        </fieldset>
    </form>
    <h2>Deletar usuário</h2>
    <form method="POST" action="/deleteUser">
        <fieldset>
            <legend>Deletar cadastro</legend>
            <input type="text" name="name" placeholder="Digite o nome que quer deletar" /><br />
            <input type="submit" value="Enviar" />
        </fieldset>
    </form>
    <h2>Usuários:</h2>
    <ul>
        {{#users}}
            <li>{{id}} - {{name}} - {{age}} anos</li>
        {{/users}}
    </ul>
</body>
</html>