<html lang="pt-BR">
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da página</h1>
    <hr>

    {{#showWelcome}}
        <p>Opa {{ user.name }}{{#showOld}}, você já tem {{ user.age }} anos?{{/showOld}}</p>
    {{/showWelcome}}

    <p>Como vai a vida</p>
</body>
</html>