{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}

<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr />

<h2>Atualizar usuário</h2>
<form method="POST" action="/updateUser">
    <fieldset>
        <legend>Update</legend>
        <input type="text" name="firstName" placeholder="Digite o nome de quem quer editar" /> <br />
        <input type="text" name="newFirstName" placeholder="Digite o novo nome para editar" />
        <input type="submit" value="update" />
    </fieldset>
</form>

<hr />

<h2>Lista de usuários</h2>
<ul>
    {{#users}}
    <li>{{name.firstName}} - {{name.lastName}} </li>
    {{/users}}
</ul>
{{>partials/footer}}